# Habilitar el módulo de reescritura
RewriteEngine On

# Si el archivo o directorio solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las solicitudes al index.html
RewriteRule ^ index.html [QSA,L]
